<div class="row detalhesDaVenda">
    <div class="col-md-4">
        <div class="row">
            <h2 class="corPrimaria" mat-dialog-tittle>Detalhes da Venda</h2>
        </div>
        <div class="row">
            <mat-form-field fxFlex="grow" appearance="outline">
                <mat-label>Responsável</mat-label>
                <input [(ngModel)]="venda.responsavel" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field fxFlex="grow" appearance="outline">
                <mat-label>Cliente</mat-label>
                <input [(ngModel)]="venda.cliente" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="radioButton"
                (ngModelChange)="buscaProdutosServicos(radioButton, venda.pesquisaProdServ)" required>
                <mat-radio-button style="margin-right: 10px;" color="primary" value="serv" checked>Serviços
                </mat-radio-button>
                <mat-radio-button color="primary" value="prod">Produto</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-form-field fxFlex="grow" appearance="outline">
                <mat-label *ngIf="radioButton == 'serv'">Pesquisar Serviço</mat-label>
                <mat-label *ngIf="radioButton == 'prod'">Pesquisar Produto</mat-label>
                <input [(ngModel)]="venda.pesquisaProdServ"
                    (ngModelChange)="buscaProdutosServicos(radioButton, venda.pesquisaProdServ)" matInput>
            </mat-form-field>
        </div>
        <div @fadeInUp class="row">
            <mat-nav-list>
                <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
                    <a mat-list-item *ngFor="let item of listProdServ">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{item.imagem}}" alt="" style="width: 130px;">
                            </div>
                            <div class="col-md-8">
                                <h4 matLine>{{item.nome}}</h4>
                            </div>
                        </div>
                    </a>
                </vex-scrollbar>
            </mat-nav-list>
        </div>
    </div>
    <div class="col-md-8">
        <vex-construcao></vex-construcao>
    </div>
</div>