<ng-template #customLoadingTemplate>
</ng-template>
<ngx-loading [show]="carregando" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
<div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
	<div fxFlex="auto" fxLayout="column">
		<div class="row">
			<div class="col-md-7">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Filtro</mat-label>
					<input placeholder="Ex. nome do serviço" formControlName="filtro" [(ngModel)]="filtroCategoria"
						(ngModelChange)="filtrar()" matInput />
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Categoria</mat-label>
					<mat-select formControlName="categoria" name="filtroCategoria" [(ngModel)]="categoria"
						(ngModelChange)="filtrar()">
						<mat-option *ngFor="let selecaoCategoria of selecaoCategoria" [value]="selecaoCategoria.value">
							{{selecaoCategoria.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<button fxFlex="grow" mat-raised-button color="primary"
					(click)="abrirModalAdicionarServico()">Adicionar</button>
			</div>
			<div class="col-md-1">
				<button *ngIf="visible && mostraBotaoListaGradeNoFiltro" style="transform: scale(1.6);" fxFlex="grow"
					title="visualização em grade" (click)="botaoVisualizacao()">
					<mat-icon style="vertical-align: middle;" [ngStyle]="{'color': '#5c77ff'}">view_module</mat-icon>
				</button>
				<button *ngIf="!visible && mostraBotaoListaGradeNoFiltro" style="transform: scale(1.6);" fxFlex="grow"
					title="visualização em lista" (click)="botaoVisualizacao()">
					<mat-icon style="vertical-align: middle;" [ngStyle]="{'color': '#5c77ff'}">view_headline</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>

<vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
	<div class="lista">
		<table mat-table matSort [dataSource]="dataSource" matSort>

			<!-- Coluna Nome Serviço -->
			<ng-container matColumnDef="nomeServico">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Nome </th>
				<td mat-cell *matCellDef="let servico"> {{servico.nomeServico}} </td>
			</ng-container>

			<!-- Coluna Categoria -->
			<ng-container matColumnDef="categoria">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Categoria </th>
				<td mat-cell *matCellDef="let servico"> {{servico.categoria}} </td>
			</ng-container>

			<!-- Coluna Serviços -->
			<ng-container matColumnDef="descricao">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Serviço </th>
				<td mat-cell *matCellDef="let servico"> {{servico.dsServico}} </td>
			</ng-container>

			<!-- Coluna Tempo -->
			<ng-container matColumnDef="tempoEstimado">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Tempo </th>
				<td mat-cell *matCellDef="let servico"> {{servico.tempoEstimado | valueTime}} </td>
			</ng-container>

			<!-- Coluna Valor -->
			<ng-container matColumnDef="valor">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Valor </th>
				<td mat-cell *matCellDef="let servico"> {{servico.valor | currency:'BRL'}} </td>
			</ng-container>

			<ng-container matColumnDef="acoes">
				<th class="colum" mat-header-cell *matHeaderCellDef> Ações </th>
				<td mat-cell *matCellDef="let servico">

					<button mat-icon-button (click)="trocarStatusServico(servico)">
						<mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="servico.ativo">visibility</mat-icon>
						<mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="!servico.ativo">visibility_off</mat-icon>
					</button>

					<button mat-icon-button color="primary" (click)="abrirModalAdicionarServico(servico)">
						<mat-icon color="primary">edit</mat-icon>
					</button>

					<button mat-icon-button color="warn" (click)="deletarServico(servico)">
						<mat-icon>delete</mat-icon>
					</button>

					<button mat-icon-button (click)="trocarPromocionalServico(servico)">
						<mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="servico.promocional">attach_money</mat-icon>
						<mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="!servico.promocional">money_off</mat-icon>
					</button>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>
	</div>
</vex-scrollbar>

<div style="margin-left: auto; float: right;" class="row">
	<button *ngIf="visible && mostraBotaoListaGradeNaTabela" title="visualização em grade"
		(click)="botaoVisualizacao()">
		<mat-icon [ngStyle]="{'color': '#5c77ff'}">view_module</mat-icon>
	</button>
	<button *ngIf="!visible && mostraBotaoListaGradeNaTabela" title="visualização em lista"
		(click)="botaoVisualizacao()">
		<mat-icon [ngStyle]="{'color': '#5c77ff'}">view_headline</mat-icon>
	</button>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>