<div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
  <div fxFlex="auto" fxLayout="column">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field fxFlex="grow" appearance="standard">
          <mat-label>Filtro</mat-label>
          <input placeholder="Ex. Nome do cliente" formControlName="filtro"  matInput />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field fxFlex="grow" appearance="standard">
          <mat-label>Status</mat-label> 
          <mat-select formControlName="categoria"  name="filtroCategoria">
            <mat-option *ngFor="let selecaoCategoria of selecaoCategoria" [value]="selecaoCategoria.value">
              {{selecaoCategoria.viewValue}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button fxFlex="grow" mat-raised-button color="primary" (click)="abrirModalAdicionarServico(true)">Adicionar Serviço</button>
      </div>
    </div>
  </div>
</div>


