
table {
    width: 100%;
  }
    
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
    
  td, th {
    width: 25%;
  }

.customIconSize{    
  margin-top: 20px;
  transform: scale(1.2);
  height: auto;
  width: auto;
}
  
  .mat-raised-button, .mat-stroked-button{    
    margin: auto;
    color:white;
    background-color: #DAAA00;
    

  }
  .mat-raised-button, .mat-stroked-button{    
    margin: auto;
  }

  mat-icon{
    color:#DAAA00;
    
  }
