<div class="card overflow-hidden">
  <div (click)="openContact.emit(card.id)" class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
    matRipple>
    <div class="row text-left">
      <div class="col">
        <img class="m-6 h-24" src="assets/img/profile/servicos.svg">
      </div>
      <div class="col">
        <h2 class="title mb-1 mt-3">{{ card?.categoria }}</h2>
        <h2 class="title mb-1 mt-3">{{ card?.nome }}</h2>
      </div>
    </div>
    <div class="row">
      <h2 class="title mb-1 mt-3">{{ card?.descricao }}</h2>


    </div>


  </div>


  <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
    <button class="text-secondary" (click)="trocarStatusServico(servico)" mat-icon-button type="button">
      <mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="servico.ativo">visibility</mat-icon>
      <mat-icon [ngStyle]="{'color': '#DAAA00'}" *ngIf="!servico.ativo">visibility_off</mat-icon>
    </button>

    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon>edit</mat-icon>
    </button>

    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon>delete</mat-icon>
    </button>

    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon>attach_money</mat-icon>
    </button>
  </div>
</div>