<div @fadeInUp fxFlex="auto" [formGroup]="form">
    <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title m-0">Novo Agendamento</h2>
    </div>
  
    <div class="px-6 py-4" fxLayout="column">
      <mat-form-field fxFlex="grow">
        <mat-label>Serviço</mat-label>
        <input matInput formControlName="nomeServico" [(ngModel)]="solicitacao.nomeServico" required>
      </mat-form-field>
  
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="grow">
          <mat-label>Tempo Estimado</mat-label>
          <input matInput type="number" placeholder="Ex. 12" min="10" formControlName="tempoEstimado"
            [(ngModel)]="solicitacao.tempoEstimado" required>
          <span matSuffix>Minutos</span>
          <mat-error *ngIf="">Tempo Mínimo: 10 minutos</mat-error>
        </mat-form-field>
  
        <mat-form-field fxFlex="grow">
          <mat-label>Valor do Serviço</mat-label>
          <input matInput formControlName="valorServico" [(ngModel)]="solicitacao.valor" required>
        </mat-form-field>
      </div>
  
      <mat-form-field fxFlex="grow">
        <mat-label>Responsável</mat-label>
        <input matInput formControlName="responsvel" [(ngModel)]="solicitacao.responsavel" required>
      </mat-form-field>
  
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="grow">
          <mat-label>Data do Atendimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dtAtendimento"
            [(ngModel)]="solicitacao.dtAtendimento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field style="color: red!important" fxFlex="grow">
          <mat-label>Status</mat-label>
          <mat-select name="status" formControlName="status" [(ngModel)]="solicitacao.status" required>
            <mat-option *ngFor="let status of status" [value]="status.value" [ngStyle]="{
                  'color':status.value === 'PENDENTE' ? 
                  '#DAAA00' : status.value === 'ACEITO' ? 
                  '#219653' : '#EB5757'
                }">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-button type="button" mat-dialog-close>Cancelar</button>
        <button color="primary" mat-raised-button type="button" [mat-dialog-close]="true" [disabled]="form.invalid"
          (click)="enviarSolicitacao(solicitacao)">{{legendaBotao}}</button>
      </div>
    </div>
  </div>