table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
td, th {
  width: 25%;
}

.button {
  display: flex;
  width: 490px;
  justify-content: space-around;
  

}

// ::ng-deep .mat-select-value{    
//   color: red!important;
// }

