<div [formGroup]="formReserva" class="p-6" fxLayout="column" fxLayoutGap="16px">
	<div fxFlex="auto" fxLayout="column">
		<div class="row">
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Pesquisa</mat-label>
					<input placeholder="Ex. Nome do cliente" formControlName="filtro" (ngModelChange)="validarFiltro()"
						matInput />
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Status</mat-label>
					<mat-select formControlName="status" name="filtroStatus" [(ngModel)]="statusPadrao"
						(ngModelChange)="validarFiltro()">
						<mat-option *ngFor="let status of statusReserva" [value]="status.value">
							{{status.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" color="accent" appearance="standard">
					<mat-label>Data Inicial</mat-label>
					<input matInput [matDatepicker]="picker1" (ngModelChange)="validarFiltro()" formControlName="dt_inicial">
					<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" color="accent" appearance="standard">
					<mat-label>Data final</mat-label>
					<input matInput [matDatepicker]="picker2" (ngModelChange)="validarFiltro()" formControlName="dt_final">
					<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					<mat-datepicker #picker2 color="primary"></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<button fxFlex="grow" mat-stroked-button color="primary" (click)="clearForm()">Limpar</button>
			</div>
			<div class="col-md-2">
				<button fxFlex="grow" (click)="abrirModalAdicionarServico(true)" mat-raised-button
					color="primary">Adicionar</button>
			</div>
		</div>
	</div>
</div>

<div>
	<vex-scrollbar [@stagger]="10" class="p-4 flex-auto">

		<table mat-table matSort [dataSource]="dataSource" matSort>

			<!-- Coluna Cliente -->
			<ng-container matColumnDef="cliente">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Cliente </th>
				<td mat-cell *matCellDef="let reserva"> {{reserva.cliente}} </td>
			</ng-container>

			<!-- Coluna Produto -->
			<ng-container matColumnDef="produto">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Serviço </th>
				<td mat-cell *matCellDef="let reserva"> {{reserva.produto}} </td>
			</ng-container>

			<!-- Coluna Quantidade -->
			<ng-container matColumnDef="quantidade">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Valor </th>
				<td mat-cell *matCellDef="let reserva"> {{reserva.quantidade}} </td>
			</ng-container>


			<!-- Coluna valor -->
			<ng-container matColumnDef="valor">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Valor </th>
				<td mat-cell *matCellDef="let reserva"> {{reserva.valor}} </td>
			</ng-container>

			<!-- Coluna Data -->
			<ng-container matColumnDef="dataRetirada">
				<th mat-header-cell mat-sort-header *matHeaderCellDef> Data Retirada </th>
				<td mat-cell *matCellDef="let reserva"> {{reserva.dataRetirada}} </td>
			</ng-container>

			<!-- SELEÇÃO DE STATUS-->

			<ng-container matColumnDef="status">
				<th class="colum" mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
				<td mat-cell *matCellDef="let reservas">
					<mat-form-field style="color: red!important" appearance="standard">
						<mat-label>Status</mat-label>
						<mat-select #select [(ngModel)]="reservas.status" name="status">
							<mat-option *ngFor="let status of status" [value]="status.value" [ngStyle]="{
                  'color':status.value === 'PENDENTE' ? 
                  '#DAAA00' : status.value === 'ACEITO' ? 
                  '#219653' : '#EB5757'
                }">
								{{status.viewValue}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</td>
			</ng-container>

			<ng-container matColumnDef="acoes">
				<th class="colum" mat-header-cell *matHeaderCellDef> Ações </th>
				<td mat-cell *matCellDef="let reserva">

					<button mat-icon-button color="primary">
						<mat-icon color="primary">edit</mat-icon>
					</button>

					<button mat-icon-button color="warn">
						<mat-icon>delete</mat-icon>
					</button>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>

	</vex-scrollbar>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>