<div class="fluxoCaixa">
    <h1 *ngIf="caixa"> Caixa </h1>
    <h1 *ngIf="novaVenda"> Novas Vendas </h1>
    <h1 *ngIf="historicoVenda"> Histórico de Vendas</h1>
    
</div>
    
<mat-tab-group (selectedTabChange)="alterarTitulo($event)">
  
        <mat-tab label="Novas Vendas" >
           <vex-nova-venda></vex-nova-venda>
        </mat-tab>

        <mat-tab label="Caixa" >
            <vex-caixa></vex-caixa>
         </mat-tab>
    
        <mat-tab label="Histórico de Vendas" >
           <vex-historico-de-venda></vex-historico-de-venda>
        </mat-tab>
   
</mat-tab-group>
