<!-- <div class="w-full h-full estilo" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp style="margin-top: 5%;" class="card w-full max-w-xs align-card">
        <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
          <div class="fill-current text-center">
            <img class="logo" src="assets/images/logos/emailEnviado.png" style="max-width: 60px;">
          </div>
        </div>
        <div class="text-center mt-4">
          <b><h2 style="color: #000C6F;" class="m-2">Email Enviado</h2></b>
          <h4 class="body-2 text-secondary m-0">Enviamos um link para recuperação da senha para o email cadastrado: wilg****@gmail.com</h4>
        </div>
    
        <button style="background-color: #000C6F; color: white;" mat-raised-button type="button">
            Recuperar Senha
        </button>
      </vex-scrollbar>
      </div>
    </div> -->
<div class="w-full h-full estilo" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

        <div @fadeInUp class="card overflow-hidden" fxFlex="auto">
            <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
                <div class="fill-current text-center">
                    <img class="logo" src="assets/images/logos/emailEnviado.png" style="max-width: 80px;">
                </div>
            </div>
            <div style="margin-left: 3%; margin-right: 3%;" class="text-center mt-4">
                <b>
                    <h1 style="color: #000C6F;" class="m-2">Email Enviado!</h1>
                </b>
                <h4 class="body-2 text-secondary m-0">Enviamos um link para recuperação da senha para o email
                    cadastrado: wilg****@gmail.com</h4>
            </div>
            <div style="margin-bottom: 5%; text-align: center;" class="px-6 py-4" >

                <button [routerLink]="['/login']" style="background-color: #000C6F; color: white; width: 50%;" mat-raised-button type="button">
                    Voltar para o Login
                </button>
            </div>
        </div>
    </div>
</div>