@media screen and (max-width: 500px) {
    .example-viewport {
      margin: auto;
      height: 600px;
      width: 330px;
    }
  }
  
@media screen and (min-width: 500px) {
  .example-viewport {
    margin: auto;
    height: 40%;
    width: 350px;
  }
}

.align-card{
  margin-top: 2%; 
  margin-bottom: 2%;
}