<div class="w-full h-full bg-pattern estilo" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs align-card">
    <mat-progress-bar *ngIf="cadastrando" mode="indeterminate" color="primary"></mat-progress-bar>
    <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
        <div class="fill-current text-center">
          <img class="w-16" src="assets/images/logos/teste.png">
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2 class="title m-0">Crie sua conta </h2>
        <h4 class="body-2 text-secondary m-0">Com alguns cliques, crie sua conta e tenha seu estabelecimento ao alcance de seus clientes.
        </h4>
      </div>
  
      <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input formControlName="nome"  [(ngModel)]="estabelecimento.nomeProprietario" matInput required>
          </mat-form-field>
  
          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>Nome do Estabelecimento</mat-label>
            <input formControlName="estabelecimento" [(ngModel)]="estabelecimento.estabelecimento" matInput required>
          </mat-form-field>

          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" [(ngModel)]="estabelecimento.email" matInput required>
          </mat-form-field>

          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>CPF/CNPJ</mat-label>
            <input mask="000.000.000-00 || 00.000.000/0000-00" formControlName="cpf_cnpj"  [(ngModel)]="estabelecimento.cpf_cnpj" matInput required>
          </mat-form-field>
          <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" -->
          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>Senha</mat-label>
            <input pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" [type]="inputType" formControlName="senha" [(ngModel)]="estabelecimento.senha" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
              <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('senha').hasError('pattern')">Mínimo de seis caracteres, pelo menos uma letra e um número sem caracters especiais</mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <input [type]="inputType" formControlName="confirmarSenha" [(ngModel)]="estabelecimento.confirmarSenha" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
              <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
            </button>
            <!-- <mat-error *ngIf="form.hasError('passwordsNotEqual')" >As senhas não coincidem</mat-error>   -->
            <mat-hint>Por favor repita sua senha</mat-hint>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-checkbox formControlName="termosCondicoes" class="caption">Li e concordo com os <u><a>Termos e Condições.</a></u></mat-checkbox>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-checkbox formControlName="politicasPrivacidade" class="caption">Li e concordo com as <u><a>Políticas de Privacidade.</a></u></mat-checkbox>
        </div>

        <button style="background-color: #000C6F; color: white;" [disabled]="form.invalid" (click)="cadastrar(estabelecimento)" color="primary" mat-raised-button type="button">
          Criar Conta
        </button>
        <p class="text-secondary text-center">
          Já possui uma conta?<br/>
          <u><a [routerLink]="['/login']">Faça login</a></u>
        </p>
      </div>
    </vex-scrollbar>
    </div>
  </div>
  