table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
td, th {
  width: 25%;
}

.mat-raised-button, .mat-stroked-button{    
  margin: auto;
}
.foto{
  cursor: pointer;
}
.foto:hover {
  opacity: 0.5;
}

.mat-icon{
  color: white;
}

input[type="file"]{
  display: none;
}

.centInputImg{
  margin-top: 36px;
  margin-left: 36px;
}
