
<div class="px-6 py-3 border-b" fxLayout="row" fxLayoutAlign="start center">
  <h2 class="title m-0 corPrimaria" mat-dialog-tittle >Fechameto de Caixa</h2>
</div>

<mat-dialog-content class="mat-typography">

  <p>Deseja realizar o fechamento do caixa referente ao periodo de 01/07/2021 a 06/07/2021 ? <br>
    Periodo 01/06/2021 - 06/07/2021 <br>
    Valor total: R$960,00 
  </p>

  <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let dados"> {{dados.data}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Descrição">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let dados"> {{dados.descricao}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let dados"> {{dados.valor}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</vex-scrollbar>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Fechar Caixa</button>
</mat-dialog-actions>



