<div class="w-full h-full estilo" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp style="margin-top: 5%;" class="card overflow-hidden w-full max-w-xs align-card">
      <mat-progress-bar *ngIf="logando" mode="indeterminate" color="primary"></mat-progress-bar>
        <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
        <div style="margin-top: -2%;" class="text-center mt-4">
          <h2 class="title m-0">Esqueceu sua Senha?</h2>
          <h4 class="body-2 text-secondary m-0">Enviaremos um e-mail para recuperação da senha.</h4>
        </div>
    
        <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field fxFlex="grow" appearance="outline">
              <mat-label>Nova Senha</mat-label>
              <input pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" [type]="inputType" formControlName="senha" matInput required>
              <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
              </button>
            </mat-form-field>
    
            <mat-form-field fxFlex="grow" appearance="outline">
              <mat-label>Confirmar Senha</mat-label>
              <input [errorStateMatcher]="matcher" [type]="inputType" formControlName="confirmarSenha" matInput required>
              <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
              </button>
            <mat-error *ngIf="form.hasError('notSame')" >As senhas não coincidem</mat-error>  
              <mat-hint>Por favor repita sua senha</mat-hint>
            </mat-form-field>
          </div>
          <!-- style="background-color: #000C6F; color: white;" -->
          <button class="btn btn-primary" [disabled]="form.invalid" [disabled]="form.invalid" (click)="redefinirSenha()" type="button">
            Recuperar Senha
          </button>
          <p class="text-secondary text-center">
          <u><a [routerLink]="['/login']">Retornar ao login</a></u>
          </p>
        </div>
      </vex-scrollbar>
      </div>
    </div>
    