<ng-template #customLoadingTemplate>
</ng-template>
<ngx-loading [show]="carregando" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
<div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
	<div fxFlex="auto" fxLayout="column">
		<div class="row">
			<div class="col-md-7">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Filtro</mat-label>
					<input placeholder="Ex. nome do serviço" formControlName="filtro" [(ngModel)]="filtroCategoria"
						(ngModelChange)="filtrar(categoria, filtroCategoria)" matInput />
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<mat-form-field fxFlex="grow" appearance="standard">
					<mat-label>Categoria</mat-label>
					<mat-select formControlName="categoria" name="filtroCategoria" [(ngModel)]="categoria"
						(ngModelChange)="filtrar(categoria, filtroCategoria)">
						<mat-option *ngFor="let selecaoCategoria of selecaoCategoria" [value]="selecaoCategoria.value">
							{{selecaoCategoria.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-md-2">
				<button fxFlex="grow" mat-raised-button color="primary" (click)="abrirModalAdicionarServico()"
					matTooltip="Adicionar serviço">Adicionar</button>
			</div>
			<div class="col-md-1">
				<button *ngIf="sevicosEmGrade && mostraBotaoListaGradeNoFiltro" style="transform: scale(1.6);" fxFlex="grow"
					(click)="botaoVisualizacao()" >
					<mat-icon matTooltip="Visualização em grade" style="vertical-align: middle;" [ngStyle]="{'color': '#5c77ff'}">view_module</mat-icon>
				</button>
				<button *ngIf="!sevicosEmGrade && mostraBotaoListaGradeNoFiltro" style="transform: scale(1.6);" fxFlex="grow"
					 (click)="botaoVisualizacao()">
					<mat-icon matTooltip="Visualização em lista" style="vertical-align: middle;" [ngStyle]="{'color': '#5c77ff'}">view_headline</mat-icon>
				</button>
			</div>
		</div>
	</div>
	
</div>

<vex-listagem-servicos *ngIf="sevicosEmGrade" [servicos]=servicos></vex-listagem-servicos>
<vex-grade-servicos *ngIf="!sevicosEmGrade" [servicos]=cards ></vex-grade-servicos>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>