<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">About</h2>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icPhone" size="20px"></ic-icon>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>